.auth-wrap {
    margin: 0 auto;
    padding: 50px 0px 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form-card {
    max-width: 500px;
    padding: 18px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-card h2 {
    margin: 0;
    color: #1E1E1E;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    gap: 6px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.input-wrapper input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff !important;
    color: #7A7A7A;
    border: 1.4px solid #1E3A8A;
    box-shadow: 2px 2px 12px 0px #00000029;
}

.auth-input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: #7A7A7A;
    border: 1.4px solid #1E3A8A;
    box-shadow: 2px 2px 12px 0px #00000029;
}

.input-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    cursor: pointer !important;
}

.account-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 8px;
    color: #7A7A7A;
    border: 1.4px solid #1E3A8A;
    box-shadow: 2px 2px 12px 0px #00000029;
}

.main-part {
    width: 38%;
}

.create-button {
    background: #1E3A8A;
    color: #ffffff;
    border: none;
    padding: 10px 12px;
    border-radius: 34px;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px #00000029;
    margin-top: 20px;
}

.error {
    color: #b91c1c;
}

.muted {
    color: #454343;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.auth-banner {
    width: 60%;
    height: auto;
}

.login-text {
    color: #1E3A8A;
    font-size: 16px;
    font-weight: 500;
}

.auth-banner img {
    max-width: 100%;
    height: auto;
}

.reset-password-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.forgot-text {
    color: #A81212;
    font-size: 12px;
    font-weight: 400;
}

.remeber-text {
    color: #454343;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;

}

.remember-part {
    display: flex;

}

.check-box {
    width: 19px;
    height: 19px;
}

.continue-border {
    height: 1px;
    width: 120px;
}

.border-part {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.social-part {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: auto;
}
.or-text{
    font-size: 16px;
    color: #454343;
}

@media (max-width: 992px) {
    .auth-wrap {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .main-part {
        width: 100%;
        max-width: 500px;
    }

    .auth-banner {
        width: 100%;
        margin-top: 30px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .or-text{
    font-size: 12px;
}
    .continue-border {
    width: 50px;
}
    .reset-password-box {
        flex-direction: column;
        width: auto;
    }

    .form-card {
        padding: 15px;
    }

    label {
        font-size: 16px;
    }

    .account-input,
    .auth-input {
        font-size: 14px;
        padding: 10px 35px 10px 10px;
    }

    .create-button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .muted {
        font-size: 14px;
    }
}